<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Регистрация</title>
      <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
      <link rel="stylesheet" href="/static/css/registration.css">
    <link rel="stylesheet" href="/static/css/index.css">
  </head>

  <body>
    <div class="wrapper__registration">
      <div class="registration__column_left">
        <div class="registration__column_left_logo">

        </div>
      </div>
      <div class="registration__column_right">
        <div class="registration__column_right_form">
          <div class="registration__column_right_form__header">
            <div class="form__header_title_reg">Регистрация</div>
            <div class="form__header_title_enter"><a href="{% url 'registration:login' %}">Вход</a></div>
          </div>
          <form class="registration_form_class" action="{% url "registration:registration" %}" id="registration_form" method="POST">
               {% csrf_token %}
            <p class="form_class_name-field"> Имя</p>
              {{ form.username }}
              {% if form.username.errors %}
                  {{ form.username.errors }}
              {% endif %}
            <p class="form_class_name-field">e-mail</p>
              {{ form.email }}
            <p class="form_class_name-field"> Пароль</p>
              {{ form.password1}}
            <p class="form_class_name-field">Подтверждение пароля</p>
                {{ form.password2}}
                 {% if form.password2.errors %}
                     {{ form.password2.errors }}
                 {% endif %}
          </form>
          <div class="registration__column_right__form_footer">
            <label class="form_footer_button-submit">
              <input type="submit" form="registration_form" value="" style="display: none">
              <div id="reg_save" class="registration__button_submit"><span>Зарегистрироваться →</span></div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>