a {
  text-decoration: none;
  color: #0085FF;
}

#link_all_obj {
  color: #FFFFFF;
 }

@charset "UTF-8";
/* Шрифты**/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts//Inter/Inter.var.woff2") format("woff2"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts//Inter/Inter.var.woff2") format("woff2"); }

/*Переменные и шаблоны**/
.cash-office_header, .warehouse_header, .header_title, .schedule__header-row .header-row_title {
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 34px;
  color: #48555F; }

.wrapper__cash-office, .wrapper__warehouse {
  background: #FFFFFF;
  border-radius: 6px;
  width: 653px;
  height: 332px; }

.cash-office_line, .warehouse_line {
  grid-column: 2/4;
  grid-row: 3/4;
  width: 573px;
  height: 1px;
  background: #BBC1C7;
  align-self: center; }

.cash-office_list, .warehouse_list {
  grid-column: 2/3;
  grid-row: 4/5;
  font-family: Inter;
  font-style: normal;
  font-weight: 2oo;
  font-size: 15px;
  line-height: 20px;
  color: #48555F; }

.cash-office_list-all-cash, .warehouse_list-all-cash {
  margin-left: 15px;
  grid-column: 2/3;
  grid-row: 5/6;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #0085FF; }
  .cash-office_list-all-cash :nth-child(1), .warehouse_list-all-cash :nth-child(1) {
    border-bottom: 1.5px dotted #0085FF; }

.cash-office_logo-moe-delo, .warehouse_logo-moe-delo {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: end; }

.cash-office_list ul, .warehouse_list ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.cash-office_list li, .warehouse_list li {
  padding: 5px; }

.cash-office_list li:before, .warehouse_list li:before {
  content: '';
  display: inline-block;
  height: 6px;
  width: 6px;
  vertical-align: middle;
  background-color: #FF4646;
  margin-right: 5px; }

.table-data_table-header-item-2, .table-data_table-header-item-3, .table-data-two_header-item-1, .table-data-two_header-item-2, .table-data-two_header-item-3, .table-data-two_header-item-4 {
  color: #48555F;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px; }

.table-data__table-row, .table-data-two-row {
  width: 800px;
  height: 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #48555F;
  background: #FFFFFF;
  border-bottom: 1px solid #BBC1C7; }

.cash-office_header, .warehouse_header, .header_title, .schedule__header-row .header-row_title {
  float: left;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
  align-self: center;
  color: #48555F; }

/* Стили**/
/*Переключатель-кнопка**/
.toggle {
  position: relative;
  display: block;
  width: 60px;
  height: 26px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0); }

.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 56px;
  height: 22px;
  display: block;
  background: #FFFFFF;
  border: 1px solid #BBC1C7;
  box-sizing: border-box;
  border-radius: 18px;
  transition: background 0.2s ease; }

.toggle span {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 16px;
  height: 16px;
  display: block;
  background: #BBC1C7;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease; }

.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(0, 133, 255, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none; }

#cbx-1:checked + .toggle:before {
  background: #0085FF; }

#cbx-1:checked + .toggle span {
  background: #FFFFFF;
  transform: translateX(36px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25);
  box-shadow: 0 3px 8px rgba(0, 133, 255, 0.2); }

#cbx-1:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease; }

#cbx-2:checked + .toggle:before {
  background: #0085FF; }

#cbx-2:checked + .toggle span {
  background: #FFFFFF;
  transform: translateX(36px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25);
  box-shadow: 0 3px 8px rgba(0, 133, 255, 0.2); }

#cbx-2:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease; }

#cbx-3:checked + .toggle:before {
  background: #0085FF; }

#cbx-3:checked + .toggle span {
  background: #FFFFFF;
  transform: translateX(36px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25);
  box-shadow: 0 3px 8px rgba(0, 133, 255, 0.2); }

#cbx-3:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease; }

#cbx-4:checked + .toggle:before {
  background: #0085FF; }

#cbx-4:checked + .toggle span {
  background: #FFFFFF;
  transform: translateX(36px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25);
  box-shadow: 0 3px 8px rgba(0, 133, 255, 0.2); }

#cbx-4:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease; }

#cbx-5:checked + .toggle:before {
  background: #0085FF; }

#cbx-5:checked + .toggle span {
  background: #FFFFFF;
  transform: translateX(36px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25);
  box-shadow: 0 3px 8px rgba(0, 133, 255, 0.2); }

#cbx-5:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease; }

.table-data-two_table-cell-3 {
  width: 257px;
  height: 32px; }
  .table-data-two_table-cell-3 .table-cell-3_switch-button {
    width: 62px;
    height: 28px;
    margin-left: 99px; }

body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  background: #F2F3F7; }

.wrapper {
  max-width: 800px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.wrapper__adress {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background: #004949;
}

.adress__header {
  align-self: center;
  grid-row: 1/2;
  grid-column: 1/4;
  display: flex;
  flex-wrap: nowrap; }

.header__logo {
  margin-left: 5px;
  margin-top: 5px; }

.header__user-profile {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto; }

.user-profile__icon-user {
  line-height: 36px;
  margin-right: 16px;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #FFFFFF;
  border-radius: 18px; }

.icon-user {
  vertical-align: middle; }

.user-profile_exit-button {
  text-decoration: none;
  margin-left: 22px;
  margin-right: 20px;
}

.user-profile__user-name {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF; }
  .user-profile__user-name :nth-child(1) {
    border-bottom: none; }

.user-profile__user-name:hover :nth-child(1) {
  border-bottom: 1px solid #0085FF; }

.wrapper__cash-office {
  align-self: start;
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 40px 3fr 1fr 40px;
  grid-template-rows: 40px 1fr 1fr 1fr 1fr 40px; }

.cash-office_list-all-cash:hover :nth-child(1) {
  border-bottom: none; }

.wrapper__warehouse {
  grid-row: 3/4;
  grid-column: 1/2;
  align-self: end;
  display: grid;
  grid-template-columns: 40px 3fr 1fr 40px;
  grid-template-rows: 40px 1fr 1fr 1fr 1fr 40px; }

.warehouse_list-all-cash:hover :nth-child(1) {
  border-bottom: none; }

.wrapper__object-mts {
  width: 458px;
  height: 694px;
  background: #FF4646;
  border-radius: 6px;
  grid-row: 2/4;
  grid-column: 2/4;
  margin: 0 0 0 auto;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 40px;
  grid-template-rows: 40px 3fr 1fr 5fr 1fr 3fr 40px; }

.object-mts_header {
  width: 336px;
  height: 104px;
  grid-row: 2/3;
  grid-column: 2/4;
  align-self: end;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
  color: #FFFFFF; }

.object-mts_line {
  grid-row: 3/4;
  grid-column: 2/4;
  align-self: center;
  width: 367px;
  height: 1px;
  background: #FFFFFF; }

.object-mts_list {
  grid-row: 4/5;
  grid-column: 2/4;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF; }
  .object-mts_list ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .object-mts_list li {
    padding: 5px; }
  .object-mts_list li:before {
    content: '';
    display: inline-block;
    height: 6px;
    width: 6px;
    vertical-align: middle;
    background-color: #FFFFFF;
    margin-right: 5px; }

.object-mts_all-division {
  width: 181px;
  height: 24px;
  grid-row: 5/6;
  grid-column: 2/4;
  margin-left: 15px;
  grid-column: 2/3;
  grid-row: 5/6;
  align-self: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF; }
  .object-mts_all-division :nth-child(1) {
    border-bottom: dotted 1.5px #FFFFFF; }

.object-mts_all-division:hover :nth-child(1) {
  border-bottom: none; }

.object-mts_logo {
  grid-row: 6/7;
  grid-column: 2/4;
  justify-self: end;
  align-self: end; }

.wrapper__relationship {
  max-width: 800px;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto; }

.relationship__header {
  grid-column: 1/5;
  grid-row: 1/2;
  margin-bottom: 42px; }

.add_new_list {
  justify-self: end;
}

.header__button-create-bundle {

  align-self: center;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 40px;
  background: #004949;
  border-radius: 6px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}

  .header__button-create-bundle .button-create-bundle_title {
    height: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF; }

.header__button-create-bundle:hover {
  background: #FD3A3A; }

.relationship__table-data {
  grid-column: 1/5;
  grid-row: 2/3;
  align-self: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-content: space-between; }

.table-data__table-header {
  grid-column: 1/1;
  grid-row: 1/1;
  width: 800px;
  height: 80px;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 3fr 3fr 1fr;
  grid-template-rows: 1fr;
  background: #FFFFFF;
  border-bottom: 1px solid #FF4646; }

.table-data_table-header-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1/2;
  text-align: center;
  color: #48555F;
  font-family: Inter;
  font-size: 30px;
  font-weight: 500;
}

.table-data_table-header-item-2 {
  grid-column: 3/3;
  grid-row: 1/2; }

.table-data_table-header-item-3 {
  grid-column: 3/4;
  grid-row: 1/2; }

.table-data__table-row {
  grid-column: 1/1;
  grid-row: auto;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 3fr 3fr 1fr;
  grid-template-rows: 1fr; }
  .table-data__table-row .table-row_table_icon {
    opacity: 0; }
  .table-row_table_icon {
    display: inline-block;
    float: right;
  }

.table-data__table-row:hover {
  background-color: #f1f9ff; }
  .table-data__table-row .table-row_table_icon {
    opacity: 1; }

.wrapper__schedule {
  max-width: 800px;
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto; }

.schedule__header-row {
  grid-column: 1/4;
  grid-row: 1/2;
  margin-bottom: 42px; }
  .schedule__header-row .header-row__button-unload-chenges {
    display: inline-block;
    width: 278px;
    height: 48px;
    border: 1px solid #BBC1C7;
    box-sizing: border-box;
    border-radius: 6px;
    margin-left: 70px; }
  .schedule__header-row .header-row_button-unload-chenges_icon {
    float: left;
    height: 24px;
    margin: 14px 0 0 30px; }
  .schedule__header-row .header-row_button-unload-chenges-title {
    float: right;
    height: 24px;
    margin: 10px 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #48555F; }
  .schedule__header-row .header-row__button-unload-goods {
    float: right;
    width: 278px;
    height: 48px;
    background: #FF4646;
    border-radius: 6px; }
  .schedule__header-row .header-row_button-unload-goods_icon {
    float: left;
    height: 24px;
    margin: 14px 0 0 30px; }
  .schedule__header-row .header-row_button-unload-goods_title {
    float: right;
    height: 24px;
    margin: 10px 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #F2F3F7; }

.header-row__button-unload-chenges:hover {
  background: #FFFFFF; }

.header-row__button-unload-goods:hover {
  background: #FD3A3A; }

.schedule__table-data-two {
  grid-column: 1/4;
  grid-row: 2/3;
  align-self: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-content: space-between; }

.table-data-two_header {
  grid-column: 1/1;
  grid-row: 1/1;
  width: 800px;
  height: 80px;
  display: grid;
  align-items: center;
  grid-template-columns: 400px 3fr 3fr 3fr 1fr;
  grid-template-rows: 1fr;
  background: #FFFFFF;
  border-bottom: 1px solid #0085FF; }

.table-data-two_header-item-1 {
  grid-row: 1/2;
  margin-left: 50px; }

.table-data-two_header-item-2 {
  justify-self: center;
  grid-column: 2/3;
  grid-row: 1/2; }

.table-data-two_header-item-3 {
  justify-self: center;
  grid-column: 3/4;
  grid-row: 1/2; }

.table-data-two_header-item-4 {
  justify-self: center;
  grid-column: 4/5;
  grid-row: 1/2; }

.table-data-two-row {
  grid-column: 1/1;
  grid-row: auto;
  display: grid;
  align-items: center;
  grid-template-columns: 400px 3fr 3fr 3fr 1fr;
  grid-template-rows: 1fr; }
  .table-data-two-row .table-data-two_table-icon {
    opacity: 0; }

.table-data-two-row:hover {
  background-color: #f1f9ff; }
  .table-data-two-row .table-data-two_table-icon {
    opacity: 1; }

  .table-data-two_table-icon {
    display: inline-block;
  }

li {
 list-style-type: none;
}

.calendarik {
    margin-left: 40px;
    display: inline-block;
}

.table-row_table_cell-1 {
  grid-column: 1/3;
  width: 200px;
  word-break: break-all;
  margin-left: 50px; }

.table-data-two_table-cell {
  word-break: break-all;
  justify-self: center; }

.table-data-two_table-cell-1 {
  width: 260px;
  word-break: break-all;
  margin-left: 50px; }

.is_done_text {
  text-decoration: line-through;
}
.pagination-wrapper_button {
  width: 200px;
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 20px; }

ul.pagination-wrapper_button {
  display: inline-block;
  padding: 5px;
  margin: 0;
  list-style-type: none;
}

ul.pagination-wrapper_button li {
  display: inline;
}

ul.pagination-wrapper_button li a {
  color: black;
  float: left;
  padding: 5px 9px;
  text-decoration: none;
  margin: 5px;
}

ul.pagination-wrapper_button li a.active {
  background-color: #FF4646;
  color: white;
  border-radius: 6px; }

ul.pagination-wrapper_button li a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 6px; }

.paginator_class {
  grid-column: 2/3;
  width: 200px;
  word-break: break-all;
  margin-left: 50px;
}